trigger:
- main

variables:
  imageName: 'simple-aks-app'
  acrLoginServer: 'billingappacr01.azurecr.io'

stages:

# ===============================
# BUILD & PUSH IMAGE TO ACR
# ===============================
- stage: Build
  displayName: Build and Push Image
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        command: buildAndPush
        repository: simple-aks-app
        dockerfile: Dockerfile
        containerRegistry: ACRServiceConnection
        tags: |
          latest

# ===============================
# DEPLOY TO AKS
# ===============================
- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - job: Deploy
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: Kubernetes@1
      displayName: Apply Kubernetes Manifest
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceEndpoint: AKSServiceConnection
        namespace: default
        command: apply
        useConfigurationFile: true
        configuration: k8s/deployment.yaml