trigger:
  branches:
    include:
      - main

variables:
  acrName: 'billingappacr01'
  acrLoginServer: 'billingappacr01.azurecr.io'
  imageName: 'billing-app'
  aksCluster: 'billing-aks'
  resourceGroup: 'Tamil-RG'

stages:

# STAGE 1: Build and Test
- stage: Build
  displayName: 'Build and Test'
  jobs:
  - job: BuildTest
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: npm install
      displayName: 'Install dependencies'

    - script: chmod +x node_modules/.bin/jest
      displayName: 'Fix jest permissions'  

    - script: ./node_modules/.bin/jest --passWithNoTests
      displayName: 'Run tests'

# STAGE 2: Security Scan with Trivy
- stage: SecurityScan
  displayName: 'Security Scanning'
  dependsOn: Build
  jobs:
  - job: TrivyScan
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: |
        docker build -t $(imageName):$(Build.BuildId) .
      displayName: 'Build Docker image'

    - script: |
        sudo apt-get install -y wget apt-transport-https gnupg
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
        echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update
        sudo apt-get install -y trivy
      displayName: 'Install Trivy'

    - script: |
        trivy image --exit-code 0 --severity HIGH,CRITICAL $(imageName):$(Build.BuildId)
      displayName: 'Scan image with Trivy'

# STAGE 3: Push to ACR
- stage: Containerize
  displayName: 'Push to ACR'
  dependsOn: SecurityScan
  jobs:
  - job: PushACR
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: 'Build and push to ACR'
      inputs:
        command: buildAndPush
        containerRegistry: 'ACRServiceConnection'
        repository: $(imageName)
        dockerfile: 'Dockerfile'
        tags: |
          $(Build.BuildId)
          latest

# STAGE 4: Deploy to AKS
- stage: Deploy
  displayName: 'Deploy to AKS'
  dependsOn: Containerize
  jobs:
  - job: DeployAKS
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: KubernetesManifest@0
      displayName: 'Deploy to AKS'
      inputs:
        action: deploy
        kubernetesServiceConnection: 'AKSServiceConnection'
        namespace: default
        manifests: 'k8s/deployment.yaml'
        containers: '$(acrLoginServer)/$(imageName):$(Build.BuildId)'