trigger:
- main

variables:
  imageName: 'billing-app'
  acrName: 'billingappacr01.azurecr.io'
  tag: '$(Build.BuildId)'

stages:

- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: Dockerfile
        containerRegistry: ACRServiceConnection
        tags: |
          latest
        arguments: --platform linux/amd64

- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - job: Deploy
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: Kubernetes@1
      displayName: Deploy to AKS
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceEndpoint: AKSServiceConnection
        namespace: default
        command: apply
        useConfigurationFile: true
        configuration: k8s/deployment.yaml