trigger:
- main

variables:
<<<<<<< HEAD
  acrName: 'billingappacr01'
  acrLoginServer: 'billingappacr01.azurecr.io'
  imageName: 'billing-app'
  tag: '$(Build.BuildId)'
  aksCluster: 'billing-aks'
  resourceGroup: 'Tamil-RG'   # <-- change to your RG

stages:

# =========================
# CI STAGE - Build & Push
# =========================
- stage: Build
  displayName: Build and Push to ACR
  jobs:
  - job: BuildImage
    pool:
      vmImage: 'ubuntu-latest'

    steps:

    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: 'ACRServiceConnection'   # <-- Service connection name

    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: Dockerfile
        containerRegistry: 'ACRServiceConnection'
        tags: |
          $(tag)
          latest


# =========================
# CD STAGE - Deploy to AKS
# =========================
- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - job: DeployToAKS
    pool:
      vmImage: 'ubuntu-latest'

    steps:

    - task: AzureCLI@2
      displayName: Set AKS Context
      inputs:
        azureSubscription: 'AzureRMConnection'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az aks get-credentials \
            --resource-group $(resourceGroup) \
            --name $(aksCluster) \
            --overwrite-existing

    - script: |
        kubectl set image deployment/billing-app \
        billing-app=$(acrLoginServer)/$(imageName):$(tag)
      displayName: Update Deployment Image

    - script: |
        kubectl rollout status deployment/billing-app
      displayName: Verify Rollout
=======
  imageName: 'billing-app'
  acrName: 'billingappacr01.azurecr.io'
  tag: '$(Build.BuildId)'

stages:

# ========================
# BUILD STAGE
# ========================
- stage: Build
  jobs:
  - job: BuildAndPush
    pool:
      vmImage: ubuntu-latest

    steps:
    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: Dockerfile
        containerRegistry: ACRServiceConnection
        tags: |
          $(tag)

# ========================
# DEPLOY STAGE
# ========================
- stage: Deploy
  dependsOn: Build
  jobs:
  - job: DeployToAKS
    pool:
      vmImage: ubuntu-latest

    steps:
    - task: Kubernetes@1
      displayName: Deploy to AKS
      inputs:
        connectionType: Kubernetes Service Connection
        kubernetesServiceEndpoint: AKSServiceConnection
        namespace: default
        command: apply
        useConfigurationFile: true
        configuration: |
          k8s/deployment.yaml
          k8s/service.yaml
>>>>>>> 7c7e45c (Final AKS CI/CD Fix1)
